//_________________________________________________________________________
//
//                      _                           __ _
//      _ __ ___   __ _(_)_ __      ___ ___  _ __  / _(_) __ _
//     | '_ ` _ \ / _` | | '_ \    / __/ _ \| '_ \| |_| |/ _` |
//     | | | | | | (_| | | | | |  | (_| (_) | | | |  _| | (_| |
//     |_| |_| |_|\__,_|_|_| |_|   \___\___/|_| |_|_| |_|\__, |
//                                                       |___/
//
//     Config files have a very simple format:
//
//       - Separate key and value by at least 3 spaces;
//       - Anything beginning with // is comment;
//       - Empty lines don't matter;
//       - No indents, no spaces/tabs before keys;
//       - Values can't be multiline (but can be 64k long)
//
//     All mentioned above applies to local app configs as well.
//     See "rapidexe help config" for more details.
//
//     You can safely delete this comment block here.
//
//_________________________________________________________________________



//---------------------------------------------------[ Global settings ]--

//root of project folders       d:\somewhere\you\keep\them
root of engines                 [rapidexe]/engines



//------------------------------------------------------[ App defaults ]--

integrity check                 no
exclude folders                 .svn; .git; .hg; backup;
exclude file patterns           .git*; *.sublime*;
default engine                  php.7.2.win64
default engine exe              php.exe

